In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import psycopg2

Is there a statistical difference between the ratings of two different music genres? 
Is there a difference between the ratings of {insert genre here} music and all other music?
Are the albums from one label rated differently than the wider population?

In [35]:
#create connection
conn = psycopg2.connect("dbname=pitchfork_reviews")

In [36]:
cur = conn.cursor()

In [4]:
#execute simple commands
cur.execute("""
SELECT * FROM pg_catalog.pg_tables;
""")

In [5]:
i = cur.fetchall()
#load cast genres into a dataframe
df = pd.DataFrame(i)

In [6]:
df

,0,1,2,3,4,5,6,7
0,public,reviews,lee,None,False,False,False,False
1,public,artists,lee,None,False,False,False,False
2,public,genres,lee,None,False,False,False,False
3,public,labels,lee,None,False,False,False,False
4,public,years,lee,None,False,False,False,False
5,public,content,lee,None,False,False,False,False
6,pg_catalog,pg_statistic,s.aguiar,None,True,False,False,False
7,pg_catalog,pg_foreign_table,s.aguiar,None,True,False,False,False
8,pg_catalog,pg_authid,s.aguiar,pg_global,True,False,False,False
9,pg_catalog,pg_user_mapping,s.aguiar,None,True,False,False,False
10,pg_catalog,pg_subscription,s.aguiar,pg_global,True,False,False,False
11,pg_catalog,pg_largeobject,s.aguiar,None,True,False,False,False
12,pg_catalog,pg_type,s.aguiar,None,True,False,False,False
13,pg_catalog,pg_attribute,s.aguiar,None,True,False,False,False
14,pg_catalog,pg_proc,s.aguiar,None,True,False,False,False
15,pg_catalog,pg_class,s.aguiar,None,True,False,False,False
16,pg_catalog,pg_attrdef,s.aguiar,None,True,False,False,False
17,pg_catalog,pg_constraint,s.aguiar,None,True,False,False,False
18,pg_catalog,pg_inherits,s.aguiar,None,True,False,False,False
19,pg_catalog,pg_index,s.aguiar,None,True,False,False,False
20,pg_catalog,pg_operator,s.aguiar,None,True,False,False,False
21,pg_catalog,pg_opfamily,s.aguiar,None,True,False,False,False
22,pg_catalog,pg_opclass,s.aguiar,None,True,False,False,False
23,pg_catalog,pg_am,s.aguiar,None,True,False,False,False
24,pg_catalog,pg_amop,s.aguiar,None,True,False,False,False
25,pg_catalog,pg_amproc,s.aguiar,None,True,False,False,False
26,pg_catalog,pg_language,s.aguiar,None,True,False,False,False
27,pg_catalog,pg_largeobject_metadata,s.aguiar,None,True,False,False,False
28,pg_catalog,pg_aggregate,s.aguiar,None,True,False,False,False
29,pg_catalog,pg_statistic_ext,s.aguiar,None,True,False,False,False
...,...,...,...,...,...,...,...,...
45,pg_catalog,pg_shdescription,s.aguiar,pg_global,True,False,False,False
46,pg_catalog,pg_ts_config,s.aguiar,None,True,False,False,False
47,pg_catalog,pg_ts_config_map,s.aguiar,None,True,False,False,False
48,pg_catalog,pg_ts_dict,s.aguiar,None,True,False,False,False
49,pg_catalog,pg_ts_parser,s.aguiar,None,True,False,False,False
50,pg_catalog,pg_ts_template,s.aguiar,None,True,False,False,False
51,pg_catalog,pg_extension,s.aguiar,None,True,False,False,False
52,pg_catalog,pg_foreign_data_wrapper,s.aguiar,None,True,False,False,False
53,pg_catalog,pg_foreign_server,s.aguiar,None,True,False,False,False
54,pg_catalog,pg_policy,s.aguiar,None,True,False,False,False
55,pg_catalog,pg_replication_origin,s.aguiar,pg_global,True,False,False,False
56,pg_catalog,pg_default_acl,s.aguiar,None,True,False,False,False
57,pg_catalog,pg_init_privs,s.aguiar,None,True,False,False,False
58,pg_catalog,pg_seclabel,s.aguiar,None,True,False,False,False
59,pg_catalog,pg_shseclabel,s.aguiar,pg_global,True,False,False,False
60,pg_catalog,pg_collation,s.aguiar,None,True,False,False,False
61,pg_catalog,pg_partitioned_table,s.aguiar,None,True,False,False,False
62,pg_catalog,pg_range,s.aguiar,None,True,False,False,False
63,pg_catalog,pg_transform,s.aguiar,None,True,False,False,False
64,pg_catalog,pg_sequence,s.aguiar,None,True,False,False,False
65,pg_catalog,pg_publication,s.aguiar,None,True,False,False,False
66,pg_catalog,pg_publication_rel,s.aguiar,None,True,False,False,False
67,pg_catalog,pg_subscription_rel,s.aguiar,None,True,False,False,False
68,information_schema,sql_features,s.aguiar,None,False,False,False,False
69,information_schema,sql_implementation_info,s.aguiar,None,False,False,False,False
70,information_schema,sql_languages,s.aguiar,None,False,False,False,False
71,information_schema,sql_packages,s.aguiar,None,False,False,False,False
72,information_schema,sql_parts,s.aguiar,None,False,False,False,False
73,information_schema,sql_sizing,s.aguiar,None,False,False,False,False
74,information_schema,sql_sizing_profiles,s.aguiar,None,False,False,False,False

In [7]:
#execute simple commands
cur.execute("""
SELECT * FROM genres;
""")

In [9]:
i = cur.fetchall()
#load cast genres into a dataframe
df = pd.DataFrame(i)

In [10]:
#check unique values in genres
df[1].unique()

array(['electronic', 'metal', 'rock', None, 'rap', 'experimental',
       'pop/r&b', 'folk/country', 'jazz', 'global'], dtype=object)

In [ ]:
df_genres.head(10)

In [ ]:
df_genres.info()

In [15]:
#execute simple commands
reviews = cur.execute("""
SELECT * FROM reviews;
""")

# SELECT c1, aggregate(c2)
# FROM t
# GROUP BY c1;

In [16]:
reviews = cur.fetchall()
#load cast genres into a dataframe
df_reviews = pd.DataFrame(reviews)

In [17]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18393 entries, 0 to 18392
Data columns (total 13 columns):
0     18393 non-null int64
1     18393 non-null object
2     18393 non-null object
3     18393 non-null object
4     18393 non-null float64
5     18393 non-null int64
6     18393 non-null object
7     14487 non-null object
8     18393 non-null object
9     18393 non-null int64
10    18393 non-null int64
11    18393 non-null int64
12    18393 non-null int64
dtypes: float64(1), int64(6), object(6)
memory usage: 1.8+ MB

In [18]:
df_reviews.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
2,22659,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017
3,22661,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017
4,22725,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017
5,22722,insecure (music from the hbo original series),various artists,http://pitchfork.com/reviews/albums/22722-inse...,7.4,0,vanessa okoth-obbo,contributor,2017-01-05,3,5,1,2017
6,22704,stillness in wonderland,little simz,http://pitchfork.com/reviews/albums/22704-litt...,7.1,0,katherine st. asaph,contributor,2017-01-05,3,5,1,2017
7,22694,tehillim,yotam avni,http://pitchfork.com/reviews/albums/22694-tehi...,7.0,0,andy beta,contributor,2017-01-05,3,5,1,2017
8,22714,reflection,brian eno,http://pitchfork.com/reviews/albums/22714-refl...,7.7,0,andy beta,contributor,2017-01-04,2,4,1,2017
9,22724,filthy america its beautiful,the lox,http://pitchfork.com/reviews/albums/22724-filt...,5.3,0,ian cohen,contributor,2017-01-04,2,4,1,2017
10,22715,clear sounds/perfetta,harry bertoia,http://pitchfork.com/reviews/albums/22715-clea...,8.0,0,marc masters,contributor,2017-01-04,2,4,1,2017
11,22745,run the jewels 3,run the jewels,http://pitchfork.com/reviews/albums/22745-run-...,8.6,1,sheldon pearce,associate staff writer,2017-01-03,1,3,1,2017
12,22700,nadir,steven warwick,http://pitchfork.com/reviews/albums/22700-nadir/,7.6,0,thea ballard,contributor,2017-01-03,1,3,1,2017
13,22720,december 99th,yasiin bey,http://pitchfork.com/reviews/albums/22720-dece...,3.5,0,marcus j. moore,contributor,2017-01-02,0,2,1,2017
14,22699,don't smoke rock,"smoke dza, pete rock",http://pitchfork.com/reviews/albums/22699-dont...,7.4,0,dean van nguyen,contributor,2017-01-02,0,2,1,2017
15,22665,punk45: les punks: the french connection (the ...,various artists,http://pitchfork.com/reviews/albums/22665-punk...,6.6,0,louis pattison,contributor,2017-01-02,0,2,1,2017
16,22666,brnshj (puncak),senyawa,http://pitchfork.com/reviews/albums/22666-brns...,7.4,0,philip sherburne,contributing editor,2017-01-02,0,2,1,2017
17,22719,merry christmas lil mama,"chance the rapper, jeremih",http://pitchfork.com/reviews/albums/22719-merr...,8.1,0,sheldon pearce,associate staff writer,2016-12-30,4,30,12,2016
18,22667,///// effectual,jamire williams,http://pitchfork.com/reviews/albums/22667-effe...,7.2,0,benjamin scheim,contributor,2016-12-30,4,30,12,2016
19,22691,love you to death,the-dream,http://pitchfork.com/reviews/albums/22691-love...,7.0,0,rebecca haithcoat,contributor,2016-12-29,3,29,12,2016

In [37]:
#execute simple commands
query = cur.execute("""
SELECT 4 FROM reviews GROUP BY 6;
""")

InvalidColumnReference: GROUP BY position 6 is not in select list
LINE 2: SELECT 4, 6 FROM reviews GROUP BY 6;
                                          ^

In [33]:
fetch = cur.fetchall()
#load cast genres into a dataframe
df_query = pd.DataFrame(fetch)

In [34]:
df_query.head(10)

   0  1
0  4  6
1  4  6
2  4  6
3  4  6
4  4  6
5  4  6
6  4  6
7  4  6
8  4  6
9  4  6

In [ ]:
#### drop duplicates

# df.drop_duplicates(subset = 'id', keep='first', inplace=True)

In [ ]:
#execute simple commands
genres = cur.execute("""
SELECT reviews.reviewid, reviews.score, genres.genre FROM reviews
INNER JOIN genres ON reviews.reviewid = genres.reviewid
WHERE genres.genre = 'metal' OR genres.genre = 'jazz';
""")

In [ ]:
reviews_genres_inner = cur.fetchall()
#load cast genres into a dataframe
df_genre_reviews = pd.DataFrame(reviews_genres_inner)

In [ ]:
#### drop duplicates

# df_genre_reviews.drop_duplicates(subset = 'id', keep='first', inplace=True)

In [ ]:
df_genre_reviews.info()

In [ ]:
df_genre_reviews.head(5)

In [ ]:
df_genre_reviews.columns = ['reviewid', 'score', 'genre']

In [ ]:
df_genre_reviews.groupby(['genre']).mean()

####

In [ ]:
#execute simple commands
data = cur.execute("""
SELECT reviews.reviewid, reviews.score, genres.genre FROM reviews
INNER JOIN genres ON reviews.reviewid = genres.reviewid;
""")

In [ ]:
data = cur.fetchall()
#load cast genres into a dataframe
df_data = pd.DataFrame(data)

In [ ]:
df_data.describe(), df_data.info()

In [ ]:
df_data.head()

In [ ]:
df_data.columns = ['reviewid', 'score', 'genre']

In [ ]:
df_data.head()

In [ ]:
# summary statistics for score (dep var)
df_data.score.describe()

In [ ]:
df_data.head(10)

In [ ]:
score = df_data['score']

In [ ]:
log_score = np.log(df_data['score'])

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(8,8))
_ = ax[0].hist(score, bins=50)
# _ = ax[1].hist(log_score, bins=50)

In [ ]:
df_genre_reviews.describe()

In [ ]:
# query with an f-string
query = f"""
SELECT {', '.join(columns)} FROM dogs;
"""

cur.execute(query)

In [ ]:
# option 1 to display, using fetchall method
data = cur.fetchall()
data

In [ ]:
# option 1 to display, using fetchall method
temp_data = cur.fetchall()
temp_data

In [ ]:
# query with an f-string
query = f"""
SELECT * FROM genres;
"""

cur.execute(query)

In [ ]:
temp_data = cur.fetchall()
temp_data